<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head {{ HEAD_ATTRS }}>
  {{ HEAD }}
  <title>Frisson | You deserve a better life</title>
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="product" />
  <meta property="al:android:package" content="com.frisson.application" />
  <meta property="al:android:app_name" content="Frisson" />
  <meta property="al:ios:app_store_id" content="1507135899" />
  <meta property="al:ios:app_name" content="Frisson" />
  <meta name="ahrefs-site-verification" content="c887721d8169927c2f77efba1b738c7e0d6a523a436e718c74848c2bfeb47707">
  <script>
    (function (doc, win) {
      let docEl = doc.documentElement;
      let resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
      let recalc = function () {
        let clientWidth = docEl.clientWidth || document.body.clientWidth;
        if (!clientWidth) return;
        if (clientWidth < 1080 && clientWidth >= 500) {
          docEl.style.fontSize = 100 * (1080 / 1920) + 'px';
        } else if (clientWidth > 1080) {
          docEl.style.fontSize = 100 * (clientWidth / 1920) + 'px';
        }
        console.log(clientWidth)
        if (clientWidth < 500) {
          docEl.style.fontSize = 50 * (clientWidth / 375) + 'px';
        }
      };
      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

  </script>
  <!-- GA事件统计第三方接入，官方建议script在head里引入,埋点数据更准确 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-188160147-1"></script>
  <script>
    var GAid = '';
    if (window.location.host == 'frissonlife.com') {
      GAid = 'UA-188160147-1';
      GAid2 = 'G-39G6VZ11WG';
    } else {
      GAid = 'UA-178154933-1';
      GAid2 = 'G-39G6VZ11WG';
    }
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', GAid, {
      'user_id': 'USER_ID',
      'custom_map': {
        'dimension2': 'Value',
        'dimension1': 'Currency',
        'dimension3': 'CategoryName',
        'dimension5': 'Coupon',
        'dimension6': 'UserId',
        'dimension7': 'ProductId',
        'dimension8': 'SearchTerm',
        'dimension9': 'Method',
        'dimension10': 'PromotionId',
        'dimension11': 'PromotionName',
        'dimension11': 'Content_id',
        'PageView': 'PageName'
      }
    });
    gtag('config', GAid2, {
      'event_category': 'event_category',
      'event_label': 'event_label',
      'view': 'view',
      'isLogin': 'isLogin',
      'status': 'status',
      'click': 'click',
      'item': 'item',
      'sequence': 'sequence',
      'options': 'options',
      'to': 'to',
      'price': 'price',
      'type': 'type',
      'utmSource': 'utmSource',
      'itemId': 'itemId',
      'slideTime': 'slideTime',
      'totalNum': 'totalNum',
      'result': 'result',
      'from': 'from',
      'loadTime': 'loadTime'
    });
    gtag('send', {
      hitType: 'event',
      eventPageView: 'PageView',
      eventCategory: 'Headphones',
      eventAction: 'AddToCartClick',
      eventLabel: 'CollegeCampaignSony',
    })

  </script>
</head>

<body {{ BODY_ATTRS }} ontouchstart>
  {{ APP }}
  <!-- facebook事件统计第三方接入 -->
  <script async>
    ! function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '748748192431628');
    fbq('track', 'PageView');
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src =
        'https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.12&appId=814029179084796&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=748748192431628&ev=PageView&noscript=1" /></noscript>

  <!-- Pinterest Tag -->
  <script async>
    ! function (e) {
      if (!window.pintrk) {
        window.pintrk = function () {
          window.pintrk.queue.push(Array.prototype.slice.call(arguments))
        };
        var
          n = window.pintrk;
        n.queue = [], n.version = "3.0";
        var
          t = document.createElement("script");
        t.async = !0, t.src = e;
        var
          r = document.getElementsByTagName("script")[0];
        r.parentNode.insertBefore(t, r)
      }
    }("https://s.pinimg.com/ct/core.js");
    pintrk('load', '2613376888090', {
      em: '<user_email_address>'
    });
    pintrk('page');

  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt=""
      src="https://ct.pinterest.com/v3/?event=init&tid=2613376888090&pd[em]=<hashed_email_address>&noscript=1" />
  </noscript>
  <!-- end Pinterest Tag -->

  <!-- Master Tag- to be added on every page including order confirmation -->
  <!-- Frisson 的 advertiserId ：22530 -->
  <!-- awin  广告代码 -->
  <script src="https://www.dwin1.com/22530.js" type="text/javascript" defer="defer" async></script>
  <script src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer" async></script>
  <!-- Twitter universal website tag code -->
  <script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
    a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','o5rv1');
    twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->
</body>

</html>
